.antd-fixed-icon > svg {
  margin-top: -7px;
}

.ant-menu {
  background-color: #061837 !important;
  color: white;
  font-size: 16px;
}

.ant-input-search-button svg {
  margin-top: -6px;
  font-size: 16px;
}

.ant-avatar-icon svg {
  margin-top: -12px;
}

